// Colores para el menú
$primary-color: #007BFF;
$color-btn-show:#479df9e6;
$text-color: #333;
$text-color-nav: #f3efef;
$hover-background: #f0f0f0;
$font-size-base: 1rem; // Tamaño base de fuente
$spacing-unit: 1rem; // Unidad base de espaciado
$search-background-color: #f0f0f0; // Fondo para el buscador
$search-border-color: #ddd; // Borde del buscador
$chat-background-color: #ffffff;
$chat-hover-color: #f5f5f5;
$background-color: #f7f7f7;
$border-color: #ddd;
